@page
@model WMoSS.Pages.Movies.ComingSoonModel
@{
    ViewData["Title"] = "ComingSoon";
    ViewBag.EntryTitle = "Coming Soon";
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

<div class="container clearfix">

    <div id="SettingsArea">
        <div class="dropdown">
            <button class="btn btn-xs dropdown-toggle" type="button" id="SortMoviesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="SortMoviesDropdown">
                <li><a href="?sort=title-a-z">Title: A - Z</a></li>
                <li><a href="?sort=title-z-a">Title: Z - A</a></li>
                <li><a href="?sort=rating">Rating</a></li>
                <li><a href="?sort=popular">Popular</a></li>
            </ul>
        </div>
    </div>

    <div id="ComingSoonMovies" class="movie-list">

        @if (Model.Movies != null && Model.Movies.Count() > 0)
        {
            @foreach (var movie in Model.Movies)
            {
                <div class="movie">
                    <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="movie-poster-parent">
                        @if (movie.PosterFileName == null)
                        {
                            <img src="http://placehold.it/270x400" class="movie-poster no-image-available" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                        }
                        else
                        {
                            <img src="@movie.PosterFileName" class="movie-poster" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                        }
                    </a>
                    <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="movie-title">
                        @string.Format("{0}{1: (yyyy)}", movie.Title, movie.ReleaseDate)
                    </a>
                </div>
            }

        }
        else
        {
            <p>There are no movies coming soon.</p>
        }
    </div><!-- end .movie-list -->

</div>

@*<div class="container clearfix">

    <div class="dropdown">
        <label>Sort by: </label>
        <select class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <option value="title-a-z">A-Z</option>
            <option value="latest">Latest</option>
        </select>
    </div>

        @if (Model.Movies != null && Model.Movies.Count() > 0)
        {
            <div class="row text-center">
            @foreach (var movie in Model.Movies)
            {
                var releaseYear = " ";
                if (movie.ReleaseDate.HasValue)
                {
                    releaseYear += "(";
                    releaseYear += movie.ReleaseDate.Value.ToString("yyyy");
                    releaseYear += ")";
                }

                var movieTitle = movie.Title + releaseYear;
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <h4>@movieTitle</h4>
                        @if (movie.PosterFileName != null)
                        {
                            <img src="@movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
                        }
                        else
                        {
                            <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                        }
                        <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="btn btn-primary col-xs-12" role="button">View Details</a>
                        <div class="clearfix"></div>
                    </div>
                </div>

            }
            </div>
        }
        else
        {
            <p>There are no movies coming soon.</p>
        }
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
