@page "{id:int}"
@using Newtonsoft.Json
@model WMoSS.Pages.Movies.DetailsModel
@{
    ViewData["Title"] = "Details";

    var releaseYear = " ";
    if (Model.Movie.ReleaseDate.HasValue)
    {
        releaseYear += "(";
        releaseYear += Model.Movie.ReleaseDate.Value.ToString("yyyy");
        releaseYear += ")";
    }

    var movieTitle = Model.Movie.Title + releaseYear;
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@movieTitle</h3>
        </div>
    </div>
}

@section Scripts {

}

<div class="container clearfix text-center">
    <h3>@Model.Movie.Title @releaseYear</h3>
    <div class="row">

        <div class="col-sm-4">
            @if(Model.Movie.PosterFileName != null) 
            {
                <img src="@Model.Movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
            }
            else 
            {
                <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
            }
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h5>@Model.Movie.Title @releaseYear</h5>
                <p>@Model.Movie.Classification  |  @string.Format("{0:h \\hour\\s m \\minu\\te\\s}", DateTime.Today.AddMinutes(Model.Movie.RuntimeMinutes.HasValue ? Model.Movie.RuntimeMinutes.Value : 0))<br />Drama, Family, Fantasy<br />7 January 1947 (USA)</p>
            </div>
            <div class="well">
                <p class="pull-left">@Model.Movie.Description</p>
            </div>
        </div>

        <div class="col-sm-4">

            <form asp-page="/Cart/Index" asp-page-handler="AddToCart" method="post">
                <h3>Sessions</h3>

                <label>Select session</label><br />
                <select asp-for="cartItem.MovieSessionId" asp-items="@Model.MovieSessionsOptions"></select><br />
                <span class="text-danger" asp-validation-for="cartItem.MovieSessionId"></span>

                <div class="flex-item">
                    <div class="movieTickets">
                        <label class="input">Number of tickets: </label>
                        <input asp-for="cartItem.TicketQuantity" value="1" />
                        <input type="hidden" asp-for="ReturnPath" />
                        <button type="submit">Add to cart</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            <!--Previous button-->
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

            <!--Numbers-->
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>

            <!--Next button-->
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>  
