@page "{id:int}"
@using Newtonsoft.Json
@model WMoSS.Pages.Movies.DetailsModel
@{
    ViewData["Title"] = "Details";

    var releaseYear = " ";
    if (Model.Movie.ReleaseDate.HasValue)
    {
        releaseYear += "(";
        releaseYear += Model.Movie.ReleaseDate.Value.ToString("yyyy");
        releaseYear += ")";
    }

    var movieTitle = Model.Movie.Title + releaseYear;
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@movieTitle</h3>
        </div>
    </div>
}

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

@*<div class="container clearfix text-center">
        <h3>@Model.Movie.Title @releaseYear</h3>
        <div class="row">

            <div class="col-sm-4">
                @if(Model.Movie.PosterFileName != null)
                {
                    <img src="@Model.Movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
                }
                else
                {
                    <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                }
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h5>@Model.Movie.Title @releaseYear</h5>
                    <p>@Model.Movie.Classification  |  @string.Format("{0:h \\hour\\s m \\minu\\te\\s}", DateTime.Today.AddMinutes(Model.Movie.RuntimeMinutes.HasValue ? Model.Movie.RuntimeMinutes.Value : 0))<br />Drama, Family, Fantasy<br />7 January 1947 (USA)</p>
                </div>
                <div class="well">
                    <p class="pull-left">@Model.Movie.Description</p>
                </div>
            </div>

            <div class="col-sm-4">

                <form asp-page="/Cart/Index" asp-page-handler="AddToCart" method="post">
                    <h3>Sessions</h3>

                    <label>Select session</label><br />
                    <select asp-for="cartItem.MovieSessionId" asp-items="@Model.MovieSessionsOptions"></select><br />
                    <span class="text-danger" asp-validation-for="cartItem.MovieSessionId"></span>

                    <div class="flex-item">
                        <div class="movieTickets">
                            <label class="input">Number of tickets: </label>
                            <input asp-for="cartItem.TicketQuantity" value="1" />
                            <input type="hidden" asp-for="ReturnPath" />
                            <button type="submit">Add to cart</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>*@


<div class="container">
    <div id="MovieDetailsContainer">
        <div class="clearfix margin sidebar-left">
            <div class="fixed-sidebar">

                <div class="movie-poster-parent">
                    @if (Model.Movie.PosterFileName != null)
                    {
                        <img src="@Model.Movie.PosterFileName" class="img-responsive movie-poster no-image-available" style="width:100%" alt="Image">
                    }
                    else
                    {
                        <img src="http://placehold.it/270x400" class="img-responsive movie-poster" style="width:100%" alt="Image">
                    }
                </div>

            </div>
            <div class="responsive-content">
                <div class="inner">

                    <div class="movie-details">
                        <h3 class="movie-title">@Model.Movie.Title @releaseYear</h3>
                        <p class="movie-metadata">
                            <span class="movie-classification">@Model.Movie.Classification</span><br/>
                            Released: <span class="movie-releasedate">@String.Format("{0:dd MMM yyyy}", Model.Movie.ReleaseDate)</span><br/>
                            <span class="movie-genre">@Model.Movie.Genre</span><br/>
                            <span class="movie-rating">
                                @await Html.PartialAsync("Movies/_Ratings", Model.Movie)
                            </span><br/>
                        </p>
                        <p class="movie-description">@Model.Movie.Description</p>
                    </div><!-- end .movie-details -->

                    <div id="SelectMovieSessionsFormParent">
                        <h3>Select Sessions</h3>
                        @if (Model.MovieSessions != null && Model.MovieSessions.Count() > 0)
                        {
                            <form asp-page="/Cart/Index" asp-page-handler="AddToCart" method="post" id="SelectMovieSessionsForm">
                                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnPath" />
                                <input type="hidden" name="SelectSeats" value="true" />
                                <p>
                                    <label asp-for="cartItem.MovieSessionId">Select a session</label><br />
                                    <select asp-for="cartItem.MovieSessionId" asp-items="@Model.MovieSessionsOptions" required autofocus></select><br />
                                    <span class="text-danger" asp-validation-for="cartItem.MovieSessionId"></span>
                                </p>
                                <p>
                                    <label asp-for="cartItem.TicketQuantity">Number of tickets</label><br />
                                    <input asp-for="cartItem.TicketQuantity" value="1" min="1" max="15" step="1" required /> &times;
                                    <span class="movie-ticket-price">$ 20.00 per ticket</span>
                                </p>
                                <p>
                                    <button class="btn btn-success">Select your seats</button>
                                </p>
                            </form>
                        }
                        else
                        {
                            <p>There are no schedules sessions for this movie</p>
                        }
                    </div><!-- end #SelectMovieSessionsFormParent-->


                </div>
            </div>
        </div>
    </div><!-- end #MovieDetailsContainer -->
</div>


@*<div class="container">
    <div class="row">

        <div class="col-sm-4">
            @if (Model.Movie.PosterFileName != null)
            {
                <img src="@Model.Movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
            }
            else
            {
                <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
            }
        </div>


        <div class="col-sm-4">
            <div class="well">
                <h5 class="text-left">@Model.Movie.Title @releaseYear</h5>
                <p class="text-left">
                    @Model.Movie.Classification  <span class="bar">&nbsp;|&nbsp;</span>
                    @Model.Movie.Genre<br />
                    @string.Format("{0:h \\hour\\s m \\minu\\te\\s}", DateTime.Today.AddMinutes(Model.Movie.RuntimeMinutes.HasValue ? Model.Movie.RuntimeMinutes.Value : 0))<br />
                </p>
                <div class="text-left">
                    @await Html.PartialAsync("Movies/_Ratings", Model.Movie);
                </div>
            </div>

            <div class="well">
                <p class="text-left">
                    @Model.Movie.Description
                </p>
            </div>
        </div>

            <div class="sessionForm col-sm-4">
                <h3>Select Sessions</h3>

                @if (Model.MovieSessions != null && Model.MovieSessions.Count() > 0)
                {
                <div class="container">
                    <form asp-page="/Cart/Index" asp-page-handler="AddToCart" method="post">
                        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnPath"/>
                        <input type="hidden" name="SelectSeats" value="true" />
                        <div class="form-group">
                            <p class="help-block"><label>Select session</label></p>
                            <select asp-for="cartItem.MovieSessionId" asp-items="@Model.MovieSessionsOptions"></select><br />
                            <span class="text-danger" asp-validation-for="cartItem.MovieSessionId"></span>

                        </div>
                        <br />
                        <div class="flex-item">
                            <p class="help-block">Number of tickets:</p>
                            <div class="movieTickets">
                                <div>
                                    <ul id="qty">
                                        <li>
                                            <input asp-for="cartItem.TicketQuantity" value="1" />
                                        </li>
                                        <li>
                                            <small>x $20.00 per ticket</small>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    <button type="submit" class="btn btn-default">Select your seats</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                }
                else
                {
                    <p>There are no scheduled sessions for this movie</p>
                }
            </div>
    </div>
</div>*@
