@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.FeatureSlides.Count(); i++)
        {
            var className = i == 0 ? "active" : "";
            <li data-target="#myCarousel" data-slide-to="0" class="@className"></li>
        }
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @for (int i = 0; i < Model.FeatureSlides.Count(); i++)
        {
            var className = i == 0 ? "item active" : "item";
            <div class="@className">
                <img src="@Model.FeatureSlides.ElementAt(i).ImageUrl" alt="@Model.FeatureSlides.ElementAt(i).Title">
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">

    <div class="clearfix margin sidebar-right">

        <!-- RIGHT SIDEBAR -->
        <div class="fixed-sidebar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Express Booking
                    <br>
                    <small class="text-muted">For quick and convinient ticket purchase</small>
                </div>
                <div class="panel-body">
                    <form asp-page="/Cart/Index" asp-page-handler="AddToCart" method="POST">
                        <div id="ExpressBookingParent"></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- RESPONSIVE CONTENT-->
        <div class="responsive-content">
            <div class="inner">
                
                <!-- NOW SHOWING -->
                <div id="NowShowingMovies">
                    <a asp-page="/Movies/NowShowing" class="view-more">View more</a>
                    <h3>Now Showing</h3>
                    @foreach (var movie in Model.NowShowingMovies)
                    {
                        <div class="movie">
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id">
                            @if (movie.PosterFileName == null)
                            {
                                <img src="http://placehold.it/270x400" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                            }
                            else
                            {
                                <img src="@movie.PosterFileName" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                            }
                            </a>
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id">
                                @string.Format("{0}{1: (yyyy)}", movie.Title, movie.ReleaseDate)
                            </a>
                        </div>
                    }
                </div><!-- end #NowShowingMovies-->


                <!-- COMING SOON -->
                <div id="ComingSoonMovies">
                    <a asp-page="/Movies/ComingSoon" class="view-more">View more</a>
                    <h3>Coming Soon</h3>
                    @foreach (var movie in Model.ComingSoonMovies)
                    {
                        <div class="movie">
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id">
                            @if (movie.PosterFileName == null)
                            {
                                <img src="http://placehold.it/270x400" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                            }
                            else
                            {
                                <img src="@movie.PosterFileName" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                            }
                            </a>
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id">
                                @string.Format("{0}{1: (yyyy)}", movie.Title, movie.ReleaseDate)
                            </a>
                        </div>
                    }
                </div><!-- end #ComingSoonMovies-->

            </div>
        </div><!-- end .responsive-content -->
    </div>

    <br/>
    <br/>
    <br/>

</div>

<form asp-page="/Index" style="display:none;"></form>