@page
@model WMoSS.Pages.Checkout.IndexModel
@{
    ViewData["Title"] = "Checkout";
    ViewBag.EntryTitle = ViewData["Title"];
}


@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.4.0/card.min.js"></script>
    <script>
            var card = new Card({
                form: '#CheckoutForm',
                container: '.card-wrapper',

                formSelectors: {
                    numberInput: '#Order_CardNumber', // optional — default input[name="number"]
                    expiryInput: '#Order_Expiry', // optional — default input[name="expiry"]
                    cvcInput: '#Order_CVV', // optional — default input[name="cvc"]
                    nameInput: '#Order_FullName' // optional - defaults input[name="name"]
                },
            });
    </script>
}


<div class="container clearfix">

    <div class="clearfix margin sidebar-right">
        <div class="fixed-sidebar">

            <div id="CartSummary">
                <h4>Cart Summary</h4>

                <div id="CartSummaryItemList">
                    @foreach (var cartItem in Model.Cart.CartItems)
                    {
                        <div class="cart-summary-item has-image clearfix">
                            <img src="@(cartItem.MovieSession.Movie.PosterFileName ?? "http://placeholt.it/120x188")" class="img-responsive" alt="Image"/>

                            <div class="movie-title">
                                @cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())
                            </div>
                            <span class="num-tickets">@string.Format("{0} Ticket", cartItem.TicketQuantity)</span>
                            <span class="amount">@string.Format("{0:C2}", cartItem.TotalPrice)</span>
                        </div>
                    }
                </div><!-- end #CartSummaryItemList-->

                <div class="text-right" id="CartSummaryPricing">
                    GST (Included): <span id="GSTPrice">@string.Format("{0:C2}", Model.Cart.GstPrice)</span><br />
                    Total: <span id="TotalPrice">@string.Format("{0:C2}", Model.Cart.TotalPrice)</span>
                </div>
            </div><!-- end #CartSummary -->

        </div>
        <div class="responsive-content">
            <div class="inner">

                <form asp-page="/Checkout/Index" method="post" id="CheckoutForm" novalidate>
                    <input type="hidden" asp-for="Order.TotalPrice" value="@Model.Cart.TotalPrice" />

                    <div class="card-wrapper"></div>

                    <table>
                        <tr>
                            <td><label asp-for="Order.FullName">Full name</label></td>
                            <td>
                                <input asp-for="Order.FullName"  required/>
                                <br /><span asp-validation-for="Order.FullName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Order.CardNumber">Card Number</label>
                            </td>
                            <td>
                                <input asp-for="Order.CardNumber" required/>
                                <br /><span asp-validation-for="Order.CardNumber" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Order.Expiry">Expiry</label>
                            </td>
                            <td>
                                <input asp-for="Order.Expiry" required/>
                                <br /><span asp-validation-for="Order.Expiry" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Order.CVV">CVV</label>
                            </td>
                            <td>
                                <input asp-for="Order.CVV" required />
                                <br /><span asp-validation-for="Order.CVV" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label asp-for="Order.MailingAddress">Mailing Address</label></td>
                            <td>
                                <input asp-for="Order.MailingAddress" required/><br />
                                <span asp-validation-for="Order.MailingAddress" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label asp-for="Order.EmailAddress">Email</label></td>
                            <td>
                                <input asp-for="Order.EmailAddress" required/><br />
                                <span asp-validation-for="Order.EmailAddress" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>

                    <button type="submit">Proceed to payment</button><br/>
                    <small><a asp-page="/Cart/Index">Cancel and return back to your cart</a></small>

                </form><!-- end #CheckoutForm -->

            </div>
        </div>
    </div>

</div>



@*<div class="container clearfix">
    <div class="col-md-6">
        <form asp-page="/Checkout/Index" method="post">
            <input type="hidden" asp-for="Order.TotalPrice" value="@Model.Cart.TotalPrice" />

            <h4>Please enter your contact details</h4>
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input asp-for="Order.FullName" class="form-control" placeholder="Full name" /><br />
                <span asp-validation-for="Order.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.MailingAddress">Mailing Address</label>
                <input asp-for="Order.MailingAddress" class="form-control" placeholder="Mailing address" /><br />
                <span asp-validation-for="Order.MailingAddress" class="text-danger"></span><br />
            </div>
            <div>
                <label asp-for="Order.EmailAddress">Email</label>
                <input asp-for="Order.EmailAddress" class="form-control" placeholder="Email address" /><br />
                <span asp-validation-for="Order.EmailAddress" class="text-danger"></span>
            </div>

            <h4>Please enter your payment details</h4>
            <div class="form-group">
                <label asp-for="Order.CardNumber">Card Number</label>
                <input asp-for="Order.CardNumber" class="form-control" placeholder="Enter your card number" /><br />
                <span asp-validation-for="Order.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Expiry">Expiry</label>
                <input asp-for="Order.Expiry" class="form-control" placeholder="MM/YY" /><br />
                <span asp-validation-for="Order.Expiry" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CVV">CVV</label>
                <input asp-for="CVV" placeholder="CVV" required />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <h3>Cart Summary</h3>

                @foreach(var cartItem in Model.Cart.CartItems)
                {
                    <div class="col-sm-3">
                        <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-9">
                        <h4><strong>@string.Format("{0:h:mmtt ddd dd MMMM yyyy}", cartItem.MovieSession.ScheduledAt) 7:30pm Wednesday 26 September 2018</strong></h4>
                        <p><strong>@string.Format("Movie: {0}{1:(yyyy)}", cartItem.MovieSession.Movie.Title, cartItem.MovieSession.Movie.ReleaseDate) </strong></p>
                        <p>@cartItem.MovieSession.Theater.Name<p />
                        <p class="text-right">@string.Format("{0} tickets x {1:C2} each - {2:C2}", cartItem.TicketQuantity, cartItem.MovieSession.TicketPrice, cartItem.TotalPrice)</p>
                    </div>
                }
            </div>
        </div>
    </div>

</div>*@
