@page "{id:int}"
@model WMoSS.Pages.Order.DetailsModel
@{
    ViewData["Title"] = "Order Details";
    ViewData["EntryTitle"] = ViewData["Title"];
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewData["EntryTitle"]</h3>
        </div>
    </div>
}

@section Scripts {

}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                    <br>
                    <div class="row">

                        <div class="col-xs-12 col-md-6">
                            <div class="panel panel-warning height">
                                <div class="panel-heading">
                                    Cinema Aurora Inc.
                                    <br>
                                    <small class="text-muted">Luxury Cinema Services</small>
                                </div>
                                <div class="panel-body">
                                    123 Lygon Street <br>
                                    Melbourne VIC 3000 <br>
                                    PO Box. 91823 <br>
                                    Tel. 03 8898 8910 <br>
                                    info@cinemaaurora.com.au<br>
                                    ABN: 48 150 248 927
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 pull-left">
                            <div class="panel panel-default height">
                                <div class="panel-heading">
                                    Billing Details
                                    <br>
                                    <small class="text-muted">Customer And Payment Information</small>
                                </div>
                                <div class="panel-body">
                                    <strong>@Model.OrderDetails.Order.FullName</strong><br>
                                    @Model.OrderDetails.Order.EmailAddress
                                <hr>
                                <strong>Card Type:</strong> Master Card<br>
                                <strong>Card Number:</strong> @Model.OrderDetails.Order.CardNumber<br>
                                <strong>Exp Date:</strong> @Model.OrderDetails.Order.Expiry<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="text-center"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Movie</strong></td>
                                        <td class="text-left"><strong>Booking Information</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var orderItem in Model.OrderDetails.OrderItems)
                                    {
                                        var movie = orderItem.MovieSession.Movie;
                                        <tr>
                                            <td>
                                                @if (movie.PosterFileName == null)
                                                {
                                                    <img src="http://placehold.it/135x200" class="order-summary-img" alt="@string.Format("{0}{1:(yyyy)}",movie.Title, movie.ReleaseDate)">
                                                }
                                                else
                                                {
                                                    <img src="@movie.PosterFileName" class="order-summary-img" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                                                }
                                            </td>
                                            <td>
                                                <strong>@string.Format("{0}({1:yyyy})", orderItem.MovieSession.Movie.Title, orderItem.MovieSession.Movie.ReleaseDate)</strong>
                                                <br>
                                                @string.Format("{0:h:mm tt dddd, dd MMMM yyyy}", orderItem.MovieSession.ScheduledAt)
                                                <br>
                                                at <i>@string.Format("Cinema Aurora {0}", orderItem.MovieSession.Theater.Name)</i>
                                                <br>
                                                Seats: <b>@string.Join(", ", orderItem.Tickets.Select(t => t.SeatNumber))</b>
                                            </td>
                                            <td class="text-center">@string.Format("{0:C2} each", orderItem.MovieSession.TicketPrice)</td>
                                            <td class="text-center">@string.Format("{0} tickets", orderItem.Tickets.Count())</td>
                                            <td class="text-right">@string.Format("{0:C2}", orderItem.SubTotal)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow text-center"><strong>@string.Format("{0}% GST (Included):", Model.OrderDetails.GstRate * 100)</strong></td>
                                        <td class="emptyrow text-right">@string.Format("{0:C2}", Model.OrderDetails.GstAmount)</td>
                                    </tr>
                                    <tr>
                                        <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow text-center"><strong>Total</strong></td>
                                        <td class="emptyrow text-right"><b>@string.Format("Total: {0:C2}", Model.OrderDetails.GrandTotal)</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="container clearfix">

    <p>
        <b>Cinema Aurora</b><br/>Luxury Cinema Services
    </p>
    <p>
        123 Lygon Street<br/>
        Melbourne VIC 3000<br/>
        PO Box 91823<br/>
        Tel. 03 8898 8910<br/>
        info@cinemaaurora.com.au<br/>
        ABN: 48 150 248 927<br/>
    </p>

    <p>
        Date: @string.Format("{0: dd MMMM yyyy}", Model.OrderDetails.Order.CreatedAt)
        Order No. @Model.OrderDetails.Order.Id
    </p>

    <p>
        <b>Billed to:</b><br/>
        @Model.OrderDetails.Order.FullName<br />
        @Model.OrderDetails.Order.MailingAddress<br/>
        @Model.OrderDetails.Order.EmailAddress
    </p>

    <table>
        <thead>
            <tr>
                <th>Session ID</th>
                <th>Booking Information</th>
                <th>Tickets</th>
                <th>Item Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var orderItem in Model.OrderDetails.OrderItems)
            {
                <tr>
                    <td>@orderItem.MovieSession.Id</td>
                    <td>
                        <b>@string.Format("{0:h:mm tt dddd, dd MMMM yyyy}", orderItem.MovieSession.ScheduledAt)</b><br/>
                        <span>Movie: @string.Format("{0}({1:yyyy})", orderItem.MovieSession.Movie.Title, orderItem.MovieSession.Movie.ReleaseDate)</span><br/>
                        <span>at <i>@string.Format("Cinema Aurora {0}", orderItem.MovieSession.Theater.Name)</i></span><br/><br/>
                        <i>
                            Seats: <b>@string.Join(", ",orderItem.Tickets.Select(t => t.SeatNumber))</b>
                        </i>
                    </td>
                    <td>
                        @string.Format("{0} tickets x {1:C2} each", orderItem.Tickets.Count(), orderItem.MovieSession.TicketPrice)
                    </td>
                    <td>
                        @string.Format("{0:C2}", orderItem.SubTotal)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <b>Additional Notes:</b><br/>
                    -
                </td>
                <td colspan="2" class="text-right">
                    <span>
                        @string.Format("{0}% GST (Included):", Model.OrderDetails.GstRate * 100)
                        <i>@string.Format("{0:C2}", Model.OrderDetails.GstAmount)</i>
                    </span><br/>
                    <span>
                        <b>@string.Format("Total: {0:C2}", Model.OrderDetails.GrandTotal)</b>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <b>Delivery Information:</b><br/>
        @Model.OrderDetails.DeliveryInformation
    </p>

    <p>
        <b>Payment Information:</b><br/>
        @Model.OrderDetails.PaymentInformation
    </p>

</div>*@