@page
@model WMoSS.Pages.Theaters.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewBag.EntryTitle = "All Theaters";
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="container clearfix">

    <div class="content-block clearfix" id="ListOfTheaters">
        @foreach(var theater in Model.Theaters)
        {
            <div class="theater clearfix">
                <a asp-page="/Theaters/Details" asp-route-id="@theater.Id">
                    <img src="~/images/theaters/@String.Format("{0}.jpg", theater.Id)" alt="@theater.Name" class="theater-image" width="200" />
                </a>
                <h4>
                    <a asp-page="/Theaters/Details" asp-route-id="@theater.Id">
                        @String.Format("Cinema Aurora {0}", theater.Name)
                    </a>
                </h4>
                <span class="theater-capacity">Capacity: @theater.Capacity</span><br />
                <span class="theater-address">Address: @theater.Address</span>
            </div>
        }
    </div>

</div>
