@page
@model WMoSS.Pages.Seats.SelectModel
@{
    ViewData["Title"] = "Select your seats";
    ViewBag.EntryTitle = ViewData["Title"];

    var releaseYear = " ";
    if (Model.MovieSession.Movie.ReleaseDate.HasValue)
    {
        releaseYear += "(";
        releaseYear += Model.MovieSession.Movie.ReleaseDate.Value.ToString("yyyy");
        releaseYear += ")";
    }

    var movieTitle = Model.MovieSession.Movie.Title + releaseYear;

}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}


<div class="container clearfix">

    <form method="post">
        <input type="hidden" asp-for="MovieSessionId" />
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="CartItem.TicketQuantity" />

        <div class="clearfix margin sidebar-right">
            <div class="responsive-content">
                <div class="inner">

                    <div id="SeatAllocation-SeatMap">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Selected: <span id="SelectedNumSeats">@(Model.CartItem?.Seats?.Count ?? 0)</span> of <span id="TicketQuantity">@Model.CartItem.TicketQuantity</span> seats</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><h1>Front Screen</h1></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="theatre">
                                        <div class="screen"></div>
                                        <ol class="seating">
                                            @for (char row = 'A'; row <= 'E'; row++)
                                            {
                                                var className = string.Format("row row{0}", row.ToString());
                                                <li class="@className">
                                                    <ol class="seats" type="@row.ToString()">
                                                        @for (int col = 1; col <= 10; col++)
                                                        {
                                                            @if (Model.UnavailableSeats.Contains(row.ToString() + col.ToString()))
                                                            {
                                                                <li class="seat unavailable">
                                                                    <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" disabled="disabled" />
                                                                    <label class="seat-label" for="Seat-@row@col">@row@col</label>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat available">
                                                                    @if (Model.CartItem.Seats != null && Model.CartItem.Seats.Contains($"{row}{col}"))
                                                                    {
                                                                        <input type="checkbox" name="Seats[]" id="@row@col" value="@row@col" checked="checked" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" name="Seats[]" id="@row@col" value="@row@col" />
                                                                    }
                                                                    <label class="seat-label" for="@row@col">@row@col</label>
                                                                </li>
                                                            }
                                                        }
                                                    </ol>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Update seats</button>
                                <a href="@Model.ReturnUrl" class="btn btn-sm">Cancel and go back</a>
                            </div>
                            <br /><br /><br />
                        </div>

                    </div>

                </div>
            </div>
            <div class="fixed-sidebar">

                <div id="SeatAllocation-SessionDetails">
                    <div class="movie-details">
                        @if (Model.MovieSession.Movie.PosterFileName != null)
                        {
                            <img src="@Model.MovieSession.Movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
                        }
                        else
                        {
                            <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                        }
                        <h3 class="movie-title">@Model.MovieSession.Movie.Title @releaseYear</h3>
                        <p class="movie-metadata">
                            <span class="movie-classification">@Model.MovieSession.Movie.Classification</span><br />
                            Released: <span class="movie-releasedate">@String.Format("{0:dd MMM yyyy}", Model.MovieSession.Movie.ReleaseDate)</span><br />
                            <span class="movie-genre">@Model.MovieSession.Movie.Genre</span><br />
                            <span class="movie-rating">
                                @await Html.PartialAsync("Movies/_Ratings", Model.MovieSession.Movie)
                            </span><br />
                        </p>
                    </div>

                    <div class="session-details">
                        <b>Session</b><br/>
                        @String.Format("{0:ddd dd MMM yyyy hh:mm tt}", Model.MovieSession.ScheduledAt)
                    </div>
                    <div class="venue">
                        <b>Venue:</b><br/>
                        @String.Format("{0}, {1}", Model.MovieSession.Theater.Name, Model.MovieSession.Theater.Address)
                    </div>
                    <div class="num-tickets">
                        <b>Tickets: </b>
                        @Model.CartItem.TicketQuantity tickets
                    </div>
                </div><!-- end #SeatAllocation-SessionDetails -->

            </div>
        </div><!-- end .clearfix.margin.sidebar-right -->

    </form>
</div>


@*<div class="container clearfix" id="SeatAllocation">
        <form method="post">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Select your seats</h3>
                    <br/>
                    <br/>

                    <div id="SeatBlockLeft" class="col-xs-6">
                        @for (char row = 'A'; row <= 'E'; row++)
                        {
                            <div class="seat-row">
                                @for (int col = 1; col <= 5; col++)
                                {
                                    @if (Model.UnavailableSeats.Contains(row.ToString() + col.ToString()))
                                    {
                                        <span class="unavailable">
                                            <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" disabled="disabled" />
                                            <label class="seat-label" for="Seat-@row@col">@row@col</label>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="available">
                                            @if (Model.CartItem.Seats != null && Model.CartItem.Seats.Contains($"{row}{col}"))
                                            {
                                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" checked="checked" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" />
                                            }
                                            <label class="seat-label" for="Seat-@row@col">@row@col</label>
                                        </span>
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div id="SeatBlockRight" class="col-xs-6">
                        @for (char row = 'A'; row <= 'E'; row++)
                        {
                            <div class="seat-row">
                                @for (int col = 6; col <= 10; col++)
                                {
                                    @if (Model.UnavailableSeats.Contains(row.ToString() + col.ToString()))
                                    {
                                        <span class="unavailable">
                                            <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" disabled="disabled" />
                                            <label class="seat-label" for="Seat-@row@col">@row@col</label>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="available">
                                            @if (Model.CartItem.Seats != null && Model.CartItem.Seats.Contains($"{row}{col}"))
                                            {
                                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" checked="checked" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" />
                                            }
                                            <label class="seat-label" for="Seat-@row@col">@row@col</label>
                                        </span>
                                    }
                                }
                            </div>
                        }
                    </div>


                </div>
                <div class="col-sm-4">

                </div>
            </div>

            <input type="hidden" asp-for="MovieSessionId"/>
            <input type="hidden" asp-for="ReturnUrl"/>
            <input type="hidden" asp-for="CartItem.TicketQuantity" />

            <button type="submit">Update seats</button>
            <a asp-page="/Index">Go back</a>
        </form>


    </div>*@
