@page
@model WMoSS.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
    ViewBag.EntryTitle = ViewData["Title"];

    //var releaseYear = " ";
    //if (Model.Movie.ReleaseDate.HasValue)
    //{
    //    releaseYear += "(";
    //    releaseYear += Model.Movie.ReleaseDate.Value.ToString("yyyy");
    //    releaseYear += ")";
    //}

    //var movieTitle = Model.Movie.Title + releaseYear;
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}
@*<div class="container clearfix">


    @if (Model.Cart.CartItems.Count > 0) {
        <ul>
        @foreach (var cartItem in Model.Cart.CartItems)
        {
            <li>
                <form asp-page="/Cart/Index" asp-page-handler="ModifyCart">
                    @string.Format("{0: ddd - dd MMM yyyy hh:mm tt} at {1}", cartItem.MovieSession.ScheduledAt, cartItem.MovieSession.Theater.Name) <br/>
                    @string.Format("{0} tickets", cartItem.TicketQuantity) @string.Format("{0:C2}", cartItem.TotalPrice) <br/>
                    <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId"/>
                    Modify tickets: <input asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" /><br/>
                    <span asp-validation-for="CartItem.TicketQuantity" class="text-danger"></span><br/>
                    <button type="submit">Update cart</button>
                </form>
                <form asp-page="/Cart/Index" asp-page-handler="RemoveFromCart">
                    <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                    <input type="hidden" asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity"/>
                    <button type="submit">Remove</button>
                </form>
            </li>
        }
        </ul>

        <p>
            @string.Format("Total: {0:C2}", Model.Cart.TotalPrice) <br/>
            <a asp-page="/Checkout/Index">Proceed to Checkout</a>
        </p>

        <form asp-page="/Cart/Index" asp-page-handler="ClearCart" method="post">
            <button type="submit">Clear Cart</button>
        </form>
    }
    else
    {
        <h4>There are no items in the cart</h4>

    }
</div>*@

<div class="container">

    @if (Model.Cart.CartItems.Count > 0)
    {
        <div class="row">
            <div class="col-md-8">

                @foreach (var cartItem in Model.Cart.CartItems)
                {
                    var remainingSeats = cartItem.Seats == null ? cartItem.TicketQuantity : cartItem.TicketQuantity - cartItem.Seats.Count();
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-4">
                                <img src="http://placehold.it/400x270" class="img-responsive" style="width:100%" alt="Image">
                            </div>
                            <div class="col-sm-4">
                                <h4><strong>@cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())</strong></h4>
                                <p><strong>@string.Format("{0:h:mm tt}", cartItem.MovieSession.ScheduledAt) |  @string.Format("{0:h \\hour\\s m \\minu\\te\\s}", DateTime.Today.AddMinutes(cartItem.MovieSession.Movie.RuntimeMinutes.HasValue ? cartItem.MovieSession.Movie.RuntimeMinutes.Value : 0))</strong></p>
                                <p>@string.Format("{0:ddd, dd MMMM yyyy} {1}", cartItem.MovieSession.ScheduledAt, cartItem.MovieSession.Theater.Name)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="pull-right" style="list-style-type: none">
                                    <li>
                                        <a asp-page="/Seats/Select" asp-route-id="@cartItem.MovieSessionId">
                                            Select seats (<span>@remainingSeats left</span>)
                                        </a>
                                    </li>
                                </ul>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <form asp-page="/Cart/Index" asp-page-handler="ModifyCart" class="form-inline pull-right">
                                <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                                <div class="form-group">
                                    <label class="sr-only" placeholder="$0.00" for="numTickets">Number of tickets:</label>
                                    <input asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" /><br/>
                                    <span asp-validation-for="CartItem.TicketQuantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="total" placeholder="$0.00">
                                </div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                            <form asp-page="/Cart/Index" asp-page-handler="RemoveFromCart" class="form-inline pull-right">
                                <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                                <input type="hidden" asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" />
                                <button type="submit" class="btn btn-default">Remove</button>
                            </form>
                        </div>

                    </div>

                }

            </div>
            <div class="col-md-4">
                <h3><strong>Cart Summary</strong></h3>
                @foreach (var cartItem in Model.Cart.CartItems)
                {
                    <h4><strong>@cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())</strong></h4>
                    <p>@string.Format("{0} x Ticket {1:C2}", cartItem.TicketQuantity, cartItem.MovieSession.TicketPrice)</p>
                    <br />
                }
                <br />
                <h4>GST (Included): @string.Format("{0:C2}", Model.Cart.GstPrice)</h4>
                <h3 class="text-right">Total: @string.Format("{0:C2}", Model.Cart.TotalPrice)</h3>
                <a asp-page="/Checkout/Index" class="btn btn-default pull-right">Proceed to Checkout</a>
                <br />
                <br />
                <small style="color:red">Please select your seats before proceeding to checkout</small>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-page="/Cart/Index" asp-page-handler="ClearCart" method="post" name="ClearCart">
                            <ul class="pull-right" style="list-style-type: none">
                                <li>
                                    <button type="submit">Clear Cart</button>
                                </li>
                            </ul>
                            <br />
                        </form>
                    </div>
                </div>

            </div>
        </div>

    }
    else
    {
    <h4>There are no items in the cart</h4>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

