@page
@model WMoSS.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
    ViewBag.EntryTitle = ViewData["Title"];

    //var releaseYear = " ";
    //if (Model.Movie.ReleaseDate.HasValue)
    //{
    //    releaseYear += "(";
    //    releaseYear += Model.Movie.ReleaseDate.Value.ToString("yyyy");
    //    releaseYear += ")";
    //}

    //var movieTitle = Model.Movie.Title + releaseYear;
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

<div class="container clearfix">

    @if (Model.Cart.CartItems.Count > 0)
    {
        <div class="clearfix margin sidebar-right">
            <div class="fixed-sidebar">

                <div id="CartSummary">
                    <h4>Cart Summary</h4>

                    <div id="CartSummaryItemList">
                        @foreach (var cartItem in Model.Cart.CartItems)
                        {
                            <div class="cart-summary-item">
                                <b class="movie-title">
                                    @cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())
                                </b>
                                <span class="num-tickets">@string.Format("{0} Ticket", cartItem.TicketQuantity)</span>
                                <span class="amount">@string.Format("{0:C2}", cartItem.TotalPrice)</span>
                            </div>
                        }
                    </div><!-- end #CartSummaryItemList-->

                    <div class="text-right" id="CartSummaryPricing">
                        GST (Included): <span id="GSTPrice">@string.Format("{0:C2}", Model.Cart.GstPrice)</span><br />
                        Total: <span id="TotalPrice">@string.Format("{0:C2}", Model.Cart.TotalPrice)</span>
                    </div>

                    <div class="text-right" id="CartSummaryProceedToCheckoutArea">
                        <a asp-page="/Checkout/Index" class="btn btn-lg btn-success @string.Format("{0}", Model.Cart.RemainingSeats != 0 ? "disabled" : "")" >Proceed to Checkout</a><br />
                        @if (Model.Cart.RemainingSeats != 0)
                        {
                            <small class="text-danger">Please select your seats before proceeding to checkout</small>
                        }
                        <form asp-page="/Cart/Index" asp-page-handler="ClearCart" method="post" name="ClearCart" class="form-inline">
                            <button id="ClearCartLink" class="text-danger">Clear cart</button>
                        </form>
                    </div>
                </div><!-- end #CartSummary -->

            </div>
            <div class="responsive-content">
                <div class="inner">

                    <div id="CartItems">
                        @foreach (var cartItem in Model.Cart.CartItems)
                        {
                            var remainingSeats = cartItem.Seats == null ? cartItem.TicketQuantity : cartItem.TicketQuantity - cartItem.Seats.Count();
                            <div class="cart-item clearfix">
                                <form asp-page="/Cart/Index" asp-page-handler="RemoveFromCart" class="form-inline pull-right remove-cartitem-form">
                                    <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                                    <input type="hidden" asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" />
                                    <button type="submit" class="text-danger">Remove</button>
                                </form>

                                <a asp-page="/Movies/Details" asp-route-id="@cartItem.MovieSession.MovieId" class="cart-item-poster-link">
                                    @if (cartItem.MovieSession.Movie.PosterFileName != null)
                                    {
                                        <img src="@cartItem.MovieSession.Movie.PosterFileName" class="img-responsive cart-item-poster" style="width:100%" alt="Image">
                                    }
                                    else
                                    {
                                        <img src="http://placehold.it/270x400" class="img-responsive cart-item-poster" style="width:100%" alt="Image">
                                    }
                                </a>

                                <div class="session-details">
                                    <h4 class="movie-title">
                                        @cartItem.MovieSession.Movie.Title
                                    <span class="release-year">
                                        @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())
                                    </span>
                                </h4>
                                <b class="scheduled-time">
                                    <i>@string.Format("{0:h:mm tt}", cartItem.MovieSession.ScheduledAt)</i>
                                </b><br />
                                <span class="scheduled-date">
                                    @string.Format("{0:ddd, dd MMMM yyyy}", cartItem.MovieSession.ScheduledAt)
                                </span><br />
                                <span class="venue">
                                    @string.Format("{0}", cartItem.MovieSession.Theater.Name)
                                </span>
                            </div><!-- end .cart-item-session-details -->


                            <form asp-page="/Cart/Index" asp-page-handler="ModifyCart" class="form-inline pull-right manage-tickets-form">
                                <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />

                                <div class="row clearfix manage-tickets-form-upper">
                                    <div class="col-xs-6 text-left">
                                        <span class="adjust-ticket-qty">
                                            Tickets: <input asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" min="1" max="15" step="1" id="numTickets" />
                                        </span>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <span class="select-tickets-parent">
                                            <a asp-page="/Seats/Select" asp-route-id="@cartItem.MovieSessionId">
                                                Select seats (<span>@remainingSeats left</span>)
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <small><span asp-validation-for="CartItem.TicketQuantity" class="text-danger"></span></small>
                                </div>

                                <div class="row clearfix manage-tickets-form-lower">
                                    <div class="col-xs-6 text-left">
                                        <button type="submit" class="btn btn-md btn-success update-tickets-button">Update</button>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        Subtotal: <span class="subtotal">@string.Format("{0:C2}", cartItem.TotalPrice)</span>
                                    </div>
                                </div>
                            </form>


                        </div>

                        }


                    </div><!-- end #CartItems-->

                </div>
            </div><!-- end .responsive-content -->
        </div>

    }
    else
    {
        <h4>There are no items in the cart</h4>
    }


</div>



@*<div class="container">

    @if (Model.Cart.CartItems.Count > 0)
    {
        <div class="row">
            <div class="col-md-8">

                @foreach (var cartItem in Model.Cart.CartItems)
                {
                    var remainingSeats = cartItem.Seats == null ? cartItem.TicketQuantity : cartItem.TicketQuantity - cartItem.Seats.Count();
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-4">
                                @if (cartItem.MovieSession.Movie.PosterFileName != null)
                                {
                                    <img src="@cartItem.MovieSession.Movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
                                }
                                else
                                {
                                    <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                                }
                            </div>
                            <div class="col-sm-4">
                                <h4><strong>@cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())</strong></h4>
                                <p><strong>@string.Format("{0:h:mm tt}", cartItem.MovieSession.ScheduledAt) |  @string.Format("{0:h \\hour\\s m \\minu\\te\\s}", DateTime.Today.AddMinutes(cartItem.MovieSession.Movie.RuntimeMinutes.HasValue ? cartItem.MovieSession.Movie.RuntimeMinutes.Value : 0))</strong></p>
                                <p>@string.Format("{0:ddd, dd MMMM yyyy} {1}", cartItem.MovieSession.ScheduledAt, cartItem.MovieSession.Theater.Name)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="pull-right" style="list-style-type: none">
                                    <li>
                                        <a asp-page="/Seats/Select" asp-route-id="@cartItem.MovieSessionId">
                                            Select seats (<span>@remainingSeats left</span>)
                                        </a>
                                    </li>
                                </ul>
                                <br />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"></div>
                            <form asp-page="/Cart/Index" asp-page-handler="RemoveFromCart" class="form-inline pull-right">
                                <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                                <input type="hidden" asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" />
                                <button type="submit" class="btn btn-default">Remove</button>
                            </form>
                            &nbsp;
                            <form asp-page="/Cart/Index" asp-page-handler="ModifyCart" class="form-inline pull-right">
                                <input type="hidden" asp-for="CartItem.MovieSessionId" value="@cartItem.MovieSessionId" />
                                <label class="sr-only" placeholder="$0.00" for="numTickets">Number of tickets:</label>
                                <input asp-for="CartItem.TicketQuantity" value="@cartItem.TicketQuantity" min="1" max="15" step="1" class="form-control" id="numTickets" name="numTickets" />
                                <span asp-validation-for="CartItem.TicketQuantity" class="text-danger"></span>
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>

                    </div>

                }

            </div>
            <div class="col-md-4">
                <h3><strong>Cart Summary</strong></h3>
                @foreach (var cartItem in Model.Cart.CartItems)
                {
                    <h4><strong>@cartItem.MovieSession.Movie.Title @string.Format("({0:yyyy})", cartItem.MovieSession.Movie.ReleaseDate.GetValueOrDefault())</strong></h4>
                    <p>@string.Format("{0} x Ticket {1:C2}", cartItem.TicketQuantity, cartItem.MovieSession.TicketPrice)</p>
                    <br />
                }
                <br />
                <h4>GST (Included): @string.Format("{0:C2}", Model.Cart.GstPrice)</h4>
                <h3 class="text-right">Total: @string.Format("{0:C2}", Model.Cart.TotalPrice)</h3>
                <a asp-page="/Checkout/Index" class="btn btn-default pull-right">Proceed to Checkout</a>
                <br />
                <br />
                <small style="color:red">Please select your seats before proceeding to checkout</small>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-page="/Cart/Index" asp-page-handler="ClearCart" method="post" name="ClearCart">
                            <ul class="pull-right" style="list-style-type: none">
                                <li>
                                    <button type="submit">Clear Cart</button>
                                </li>
                            </ul>
                            <br />
                        </form>
                    </div>
                </div>

            </div>
        </div>

    }
    else
    {
    <h4>There are no items in the cart</h4>
    }
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

